VITE_SITE_ORIGIN=https://palworld-helper.example
VITE_SUPPORT_URL=mailto:support@example.invalid
VITE_GA_ID=G-FF7N186M72
VITE_ADSENSE_CLIENT=ca-pub-1986785092914105
VITE_ADSENSE_CONTENT_SLOT=
VITE_SEARCH_CONSOLE_VERIFICATION=vcYPQJf0I03LumjZIODPdq47ZnYMCRvD2ABcBFyBImQ
