VITE_SITE_ORIGIN=https://palworld-helper.woofy.blog
VITE_HUB_URL=https://woofy.blog
VITE_SUPPORT_URL=https://github.com/woofygamelog-stack/woofy-community/issues
VITE_GA_ID=G-FF7N186M72
VITE_ENABLE_ANALYTICS=false
VITE_ADSENSE_CLIENT=ca-pub-1986785092914105
VITE_ADSENSE_CONTENT_SLOT=
VITE_ENABLE_ADSENSE=false
VITE_GOOGLE_CMP=disabled
VITE_RELEASE_STAGE=prelaunch
VITE_CONSENT_TEST_MODE=false
VITE_SEARCH_CONSOLE_VERIFICATION=vcYPQJf0I03LumjZIODPdq47ZnYMCRvD2ABcBFyBImQ
